# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage
/artifacts/

# next.js
/.next/
/.next-*/
/out/

# production
/build
/.worktrees/
/.archives/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
/.codex-logs/
/debug.log

# env files (can opt-in for committing if needed)
.env*
!.env.example
.fleetlever/

# vercel
.vercel

# typescript
*.tsbuildinfo
